
.header {
  background: linear-gradient(268.72deg, #010714 16.07%, #051C47 58.66%, #000713 97.45%);
  padding: 30px 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      right: 100px;
      width: 131px;
      height: 131px;
      background: #21E1B3;
      filter: blur(150px);
      border-radius: 50%;
      z-index: 1;
    }
  }

  .menu {
    position: relative;
    z-index: 3;
  }
}

.bring {
  background: linear-gradient(268.72deg, #010714 16.07%, #051C47 58.66%, #000713 97.45%);;
  padding: 90px 0 0;

  .wrapper-blocks {
    display: flex;
    justify-content: space-between;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 10px;
      left: 100px;
      width: 131px;
      height: 131px;
      background: #2D0EAB;;
      filter: blur(120px);
      border-radius: 50%;
      z-index: 1;
    }
  }

  .bring-w {
    flex: 1;
    min-width: 450px;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      height: 100%;
      bottom: 0;
      top: 320px;
      background: rgba(64, 102, 174, 0.5);
      transform: skewY(-76deg);
      z-index: 0;
      width: 160px;
    }

    svg {
      width: 100%;
    }
  }

  .block-text {
    flex: 4;
    padding: 55px 0 137px 176px;
    background: linear-gradient(90deg, rgba(#4066AE, 0.5) 2.94%, rgba(64, 102, 174, 0) 34.79%);

    .title {
      font-size: 70px;
      line-height: 80px;
      font-family: 'Klavika Bold', sans-serif;
      font-style: normal;
      color: #fff;
      margin: 0 0 68px;
    }
  }
}

.text-stroke-vertical {
  position: absolute;
  top: -50px;
  right: -25px;
  -moz-transform: rotate(270deg);
  /* FF3.5+ */
  -o-transform: rotate(270deg);
  /* Opera 10.5 */
  -webkit-transform: rotate(-90deg);
  /* Saf3.1+, Chrome */
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  font-size: 50px;
  line-height: 50px;
}

.block-about {
  background: linear-gradient(268.72deg, #010714 16.07%, #000713 97.45%);
  color: #fff;
  overflow: hidden;

  .about-title {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    margin: 0 0 30px;
    font-family: 'Klavika Bold', sans-serif;
  }

  .about-text-wrapper {
    position: relative;
    z-index: 2;
    max-width: 580px;
  }

  .about-text {
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .about-bg {
    position: relative;
    flex: 3;
    margin-left: 30px;
    padding: 120px 0 77px;
    background: linear-gradient(90deg, rgba(#4066AE, 0.2) 2.94%, rgba(64, 102, 174, 0) 34.79%);
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      bottom: 0;
      top: 320px;
      background: #010714;
      transform: skewY(76deg);
      z-index: 0;
      width: 160px;
    }
  }

  .bg-circle {
    width: 450px;
    flex: 1;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 50px;
      width: 134px;
      height: 134px;
      border-radius: 50%;
      background: #21E1B3;
      filter: blur(130px);
      z-index: 1;
    }
  }
}

.projects {
  padding: 144px 0 65px;
  background: linear-gradient(0deg, #000713, #000713);

  .projects-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 140px;
      left: 60px;
      width: 131px;
      height: 131px;
      background: #ACC9FF;;
      filter: blur(120px);
      border-radius: 50%;
      z-index: 1;
    }
  }

  .projects-title {
    flex: 1;
    font-family: 'Klavika Bold', sans-serif;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: 0.1em;
    margin-top: 100px;
    color: #fff;
    text-transform: capitalize;
    position: relative;
    z-index: 4;
  }

  .projects-list {
    flex: 1;
    position: relative;
    z-index: 3;
  }

  .project {
    background: linear-gradient(180deg, #0C1830 0%, #000713 100%);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 19px 30px 27px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;

    &__type {
      color: #fff;
      opacity: 0.8;
      line-height: 20px;
      letter-spacing: 0.05em;
      font-variant: small-caps;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &__name {
      font-size: 30px;
      line-height: 30px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 20px;
    }

    &__description {
      color: #B4B4B4;
    }
  }

  .btn-view-more {
    color: #23DAB3;
    line-height: 20px;
    text-align: right;
    text-transform: capitalize;
    cursor: pointer;
  }

  .arrows-top {
    position: absolute;
    top: -240px;
    left: -115px;
    user-select: none;

    .arrow-first {
      position: relative;
      left: 70px;
    }
  }

  .arrows-center {
    position: absolute;
    top: 24%;
    left: 23%;
    user-select: none;

    .arrow-first {
      position: relative;
      left: 80px;
    }
  }

  .download-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .app-store {
      margin-right: 10px;

      &-image {
        width: 38px;
        user-select: none;
      }
    }
  }
}

.testimonials {
  background: linear-gradient(268.72deg, #010714 16.07%, #000713 97.45%);
  padding: 20px 0 0;
  position: relative;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 3;
    padding-bottom: 140px;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 63px;
      left: -35%;
      background: linear-gradient(90deg, rgba(#4066AE, 0.2) 2.94%, rgba(64, 102, 174, 0) 34.79%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      background: #010714;
      bottom: 0;
      z-index: 2;
      left: calc(56% - 1px);
      height: 700px;
      width: 500px;
      top: -15px;
      transform: rotate(-12deg);
    }
  }

  .title {
    font-family: 'Klavika Bold', sans-serif;
    font-size: 2rem;
    line-height: 2.625rem;
    text-align: center;
    color: #fff;
    margin: 0 0 20px;
    position: relative;
    z-index: 4;
  }

  .custom-swiper {
    position: relative;
    z-index: 5;
  }
}

.custom-swiper-wrapper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;

  .swiper-button-custom-prev,
  .swiper-button-custom-next {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
  }

  .swiper-button-custom-prev {
    position: absolute;
    top: calc(50% - 45px);
    left: -120px;

  }

  .swiper-button-custom-next {
    position: absolute;
    top: calc(50% - 45px);
    right: -120px;
  }
}

.block-testimonials {
  background-size: contain;
  padding: 85px 90px 30px;
  width: calc(100% - 2px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  background: #010714;
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 10px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(90deg, rgba(37, 210, 179, 1) 0%, rgba(63, 101, 174, 1) 100%);
  }

  .comment {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
  }

  .testimonial-author {
    display: flex;
    align-items: center;
    margin-top: 15px;

    &-image {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      user-select: none;
    }

    .testimonial-author__info {
      margin-left: 30px;

      &-name {
        font-family: 'Klavika Bold', sans-serif;
        font-size: 20px;
        line-height: 28px;
        color: #fff;
        margin-bottom: 2px;
      }

      &-position {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 0;
      }
    }
  }
}

.our-team {
  background: linear-gradient(268.72deg, #010714 16.07%, #000713 97.45%);
  padding: 130px 0 150px;

  .container {
    position: relative;
  }

  .top {
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-family: 'Klavika Bold', sans-serif;
    font-size: 56px;
    line-height: 66px;
    color: #fff;
    margin: 0;
    text-transform: capitalize;
  }

  .text-stroke {
    font-family: 'Klavika Medium', sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-variant: small-caps;
  }

  .team {
    display: flex;
    justify-content: space-between;
    margin: 100px 50px 0;
    position: relative;
    z-index: 5;

    &__info {
      text-align: center;
      margin-top: 50px;

      &__name {
        font-family: 'Klavika Medium', sans-serif;
        font-size: 20px;
        line-height: 20px;
        color: #fff;
      }

      &__position {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.02em;
        font-variant: small-caps;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }

  .team__item {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(137.12deg, #080E17 18.1%, #031434 85.69%);
    position: relative;

    &::before {
      content: '';
      display: block;
      background: url("../img/team-circle-inside.png") no-repeat center center;
      background-size: contain;
      position: absolute;
      width: 260px;
      height: 260px;
    }

    &::after {
      content: '';
      display: block;
      background: url("../img/team-circle-extern.png") no-repeat center center;
      background-size: contain;
      position: absolute;
      width: 340px;
      height: 340px;
    }
  }

  .team-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    user-select: none;
  }

  .circle {
    background: url("../img/circle-gradient.png") no-repeat center center;
    background-size: contain;
    width: 220px;
    height: 220px;
    position: absolute;
  }

  .arrows-top {
    position: absolute;
    top: -300px;
    right: -170px;
    z-index: 3;
    user-select: none;

    .arrow-first {
      position: relative;
      left: 70px;
    }
  }
}

.form {
  padding: 60px 0 130px;
  background: linear-gradient(268.72deg, #010714 16.07%, #000713 97.45%);

  .container {
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -100px;
      right: 0;
      width: 131px;
      height: 131px;
      background: #21E1B3;
      filter: blur(150px);
      border-radius: 50%;
      z-index: 1;
    }
  }

  .form-content {
    background: linear-gradient(261.33deg, #21E1B3 3.27%, #3F65AD 40.47%);
    border-radius: 10px;
    max-width: 780px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
  }

  .form-inside-content {
    background: linear-gradient(180deg, #041430 0%, #020815 70.17%);
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 11px;
  }

  .form-title {
    font-family: 'Klavika Bold', sans-serif;
    font-size: 36px;
    line-height: 66px;
    color: #23DAB3;
    padding: 20px 0;
    margin: 0;
    text-align: center;
  }

  .form-wrapper {
    width: 420px;
    text-align: center;
    margin: 0 auto;
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 14px;
    width: 420px;

    label {
      display: block;
      margin: 0 0 2px;
      color: rgba(#fff, 0.7);
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 28px;
    }

    input {
      outline: none;
      display: block;
      width: 100%;
      height: 40px;
      border: 1px solid #fff;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 10px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 28px;
      transition: 0.3s ease;
      background: transparent;


      &:focus {
        border-color: #23DAB3;
        background: transparent;
      }

      &:active {
        background: transparent;
      }
    }

    textarea {
      outline: none;
      display: block;
      width: 100%;
      border: 1px solid #fff;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 10px;
      color: #cccccc;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 28px;
      transition: 0.3s ease;
      background: transparent;
      resize: none;
      height: 200px;

      &:focus {
        border-color: #23DAB3;
      }
    }
  }

  .btn-form {
    margin: 25px auto 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;

    &:before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background: transparent;
    }

    span {
      position: absolute;
      line-height: 0;

      svg {
        transform-origin: center center;
        width: 30px;
        fill: #fff;
      }

      &:nth-of-type(1) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-of-type(2) {
        top: 100%;
        transform: translateY(0%);
        font-size: 24px;
        display: none;
      }

      &:nth-of-type(3) {
        display: none;
      }
    }
  }

  .active {
    background: linear-gradient(261.33deg, #21E1B3 3.27%, #3F65AD 40.47%);

    &:before {
      width: 100%;
      transition: width 0.5s linear;
    }

    span {

      &:nth-of-type(1) {
        top: -100%;
        transform: translateY(-50%);
        display: none;
      }

      &:nth-of-type(2) {
        display: block;
        top: 50%;
        transform: translateY(-50%);

        svg {
          animation: loading 0.5s linear infinite;
        }
      }

      &:nth-of-type(3) {
        display: none;
      }
    }
  }

  .finished {
    background: linear-gradient(261.33deg, #21E1B3 3.27%, #3F65AD 40.47%);

    .btn-form-submit {
      display: none;
    }

    .btn-form-loading {
      display: none;
    }

    .btn-form-check {
      display: block !important;
      font-size: 24px;
      animation: scale 0.5s linear;

      svg {
        transform-origin: center center;
      }
    }

  }

  .arrows-top {
    position: absolute;
    top: -200px;
    left: -10px;
    user-select: none;
  }
}

.footer {
  padding: 30px 0;
  background: #04142F;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .content {
    display: flex;
    align-items: center;
    flex: 4;
  }

  .logo {
    flex: 1;
  }

  .menu {
    flex: 4;
  }

  .socials {
    flex: 1;
    display: flex;
    justify-content: center;

    &__item {
      margin-right: 16px;
      opacity: 0.4;
      cursor: pointer;
      transition: opacity ease-in-out 0.3s;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.menu {
  display: flex;
  font-family: 'Klavika Medium', sans-serif;

  &__item {
    color: rgba(#fff, 0.5);
    margin-right: 24px;
    cursor: pointer;
    transition: color ease-in-out 0.3s;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      color: rgba(#fff, 0.7);
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
}

.clutch-icon {
  width: 50px;
}

@media screen and (max-width: 1240px) {
  .bring {
    .bring-w {
      min-width: 350px;

      svg {
        height: 249px;
      }
    }

    .block-text {
      padding-left: 100px;
    }

    .text-stroke-vertical {
      right: 0;
    }
  }

  .block-about {
    .about-bg {
      margin-left: -15px;
      padding-left: 20px;
    }
  }

  .our-team {
    .team__info {
      margin-top: 70px;
    }

    .team__item {
      width: 210px;
      height: 210px;

      &::before {
        width: 250px;
        height: 250px;
      }

      &::after {
        width: 300px;
        height: 300px;
      }
    }

    .circle {
      width: 180px;
      height: 180px;
    }

    .team-image {
      width: 135px;
      height: 135px;
    }
  }

  .custom-swiper-wrapper {
    .swiper-button-custom-next {
      right: -75px;
    }

    .swiper-button-custom-prev {
      left: -75px;
    }
  }
}

@media screen and (max-width: 991.98px) {
  body {
    font-size: 16px;
    line-height: 28px;
  }
  .bring {
    .bring-w {
      min-width: 250px;

      svg {
        height: 178px;
      }
    }

    .block-text {
      .title {
        font-size: 60px;
        line-height: 70px;
      }
    }

    .text-stroke-vertical {
      display: none;
    }
  }

  .block-about {
    .about-bg {
      flex: 5;
      margin-left: 15px;
    }
  }

  .projects {
    .projects-title {
      margin-top: 50px;
    }
  }

  .our-team {
    .top {
      flex-direction: column;

      .title {
        margin-bottom: 35px;
      }

      .text-stroke br {
        display: none;
      }
    }

    .team {
      flex-direction: column;
      margin: 100px 0 0;

      &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        transition-delay: 0s !important;
      }

      &__info {
        transition-delay: 0s !important;
      }
    }
  }

  .custom-swiper-wrapper {
    .swiper-button-custom-next {
      right: -20px;
      z-index: 7;

      svg {
        width: 65px;
      }
    }

    .swiper-button-custom-prev {
      left: -20px;

      svg {
        width: 65px;
      }
    }
  }

  .block-testimonials {
    padding: 30px 30px 10px;
    max-width: 570px;
    margin: 0 auto;

    .testimonial-author-image {
      width: 60px;
      height: 60px;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    .logo {
      position: relative;
      z-index: 6;

      svg {
        width: 110px;
      }
    }

    .wrapper {
      position: relative;
      height: 30px;
    }

    .menu {
      position: fixed;
      background: linear-gradient(268.72deg, #010714 16.07%, #051C47 58.66%, #000713 97.45%);
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      display: none;

      &.active {
        display: flex;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        pointer-events: all;
        justify-content: center;
        align-items: center;
        z-index: 22;
        animation: fade 0.1s linear;
        -webkit-animation: fade 0.1s linear;
      }
    }

    .burger {
      display: block;
      width: 40px;
      height: 27px;
      position: relative;
      top: -5px;
      z-index: 100;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
      }

      span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      span:nth-child(2) {
        top: 12px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      span:nth-child(3) {
        top: 24px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      &.active-burger {
        //top: 10px;
        span:nth-child(1) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          top: -3px;
          left: 0;
        }

        span:nth-child(2) {
          width: 0%;
          opacity: 0;
        }

        span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 25px;
          left: 0;
        }
      }
    }

    .menu__item {
      margin-top: 15px;
      margin-right: 0;
    }

    .menu__item-link {
      font-size: 24px;
    }
  }

  .bring {
    padding-top: 40px;

    .bring-w {
      min-width: 200px;

      svg {
        height: 143px;
      }
    }

    .block-text {
      padding-left: 50px;
      padding-bottom: 80px;

      .title {
        font-size: 40px;
        line-height: 48px;
      }
    }

    .text-stroke-vertical {
      display: none;
    }
  }

  .block-about {
    .bg-circle {
      flex: 0;
    }

    .about-bg {
      padding-top: 50px;
      padding-bottom: 30px;
      margin: 0;
      background-position-x: 104px;

      &::before {
        left: 104px;
      }
    }

    .about-text-wrapper {
      width: 100%;
      margin: 0 auto;

      .about-title {
        margin-bottom: 50px;
      }
    }
  }

  .projects {
    padding-top: 100px;

    .projects-wrapper {
      flex-direction: column;
    }

    .projects-title {
      margin-top: 0;
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 40px;

      br {
        display: none;
      }
    }

    .btn-view-more {
      font-size: 16px;
      line-height: 18px;
    }

    .arrows-center {
      display: none;
    }
  }

  .our-team {
    padding-bottom: 100px;

    .top {
      .title {
        font-size: 40px;
        line-height: 42px;
      }

      .text-stroke {
        font-size: 32px;
        line-height: 36px;

        br {
          display: none;
        }
      }
    }

  }

  .testimonials {
    .container {
      padding-bottom: 80px;
    }
  }

  .custom-swiper-wrapper {
    .swiper-button-custom-next {
      display: none;
    }

    .swiper-button-custom-prev {
      display: none;
    }
  }

  .block-testimonials {
    padding: 30px 20px 10px;
    .testimonial-author {
      &__info-name {
        font-size: 18px;
      }

      &__info-position {
        font-size: 18px;
      }
    }

  }

  .footer {
    .content {
      flex-direction: column;
      align-items: flex-start;
    }

    .menu {
      flex-direction: column;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 479.98px) {
  body {
    font-size: 14px;
    line-height: 24px;
  }

  .header {
    padding: 15px 0 5px;

    .logo {
      top: 3px;
    }
  }

  .bring {
    padding-top: 30px;

    .bring-w {
      min-width: 100px;

      svg {
        height: 71px;
      }
    }

    .block-text {
      padding: 45px 0 45px 45px;

      .title {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 30px;
      }
    }

    .text-stroke-vertical {
      display: none;
    }
  }

  .block-about {

    .about-bg {
      background-position-x: 25px;

      &::before {
        left: 25px;
      }
    }
  }

  .projects {
    padding-top: 50px;

    .projects-wrapper {
      flex-direction: column;
    }

    .projects-title {
      margin-top: 0;
      margin-bottom: 50px;
      font-size: 40px;
      line-height: 42px;
      text-align: center;

      br {
        display: none;
      }
    }

    .project {
      padding: 19px 20px 27px;
    }
  }

  .testimonials {
    .block-testimonials {

      .testimonial-author {
        margin-top: 15px;

        &-image {
          width: 40px;
          height: 40px;
        }

        &__info {
          margin-left: 20px;

          &-name {
            font-size: 16px;
            line-height: 22px;
          }

          &-position {
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }
  }

  .our-team {
    padding-bottom: 60px;
  }

  .form {
    .form-wrapper {
      width: 100%;
      padding: 0 20px;
    }

    .form-title {
      font-size: 32px;
      line-height: 58px;
    }

    .form-group {
      width: 100%;
    }
  }

  .footer {
    .wrapper {
      flex-direction: column;
    }

    .navigation {
      margin: 15px 0;
    }
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(10);
  }
  50% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: linear-gradient(268.72deg, #010714 16.07%, #051C47 58.66%, #000713 97.45%);
  z-index: 99;
}

#loading.hide {
  display: none;
}

.moderspinner {
  width: 40px;
  height: 40px;
  border: dotted 5px #21E1B3;;
  border-radius: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(0.8);
    border-top-color: transparent;
    border-right-color: transparent;
  }
  50% {
    transform: rotate(180deg) scale(1.2);
    border-top-color: transparent;
    border-right-color: transparent;
  }
  100% {
    transform: rotate(360deg) scale(0.8);
    border-top-color: transparent;
    border-right-color: transparent;
  }
}

nav {
  background-color: rgba(0, 119, 134, 0.651);
  overflow: hidden;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo {
  a {
    color: white;
  }
}

