@import "normalize";
@import "container";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

@font-face {
  font-family: "Klavika Bold";
  src: url("../fonts/Klavika/klavika-bold.otf") format("opentype");
}

@font-face {
  font-family: "Klavika Medium";
  src: url("../fonts/Klavika/klavika-medium.otf") format("opentype");
}


html, body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

[placeholder] {
  text-overflow: ellipsis;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-overflow: ellipsis;
}

::-moz-placeholder { /* Firefox 19+ */
  text-overflow: ellipsis;
}

:-ms-input-placeholder { /* IE 10+ */
  text-overflow: ellipsis;
}

:-moz-placeholder { /* Firefox 18- */
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
}

a {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  line-height: 32px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.general-wrapper {
  overflow-x: hidden;
}

p {
  margin: 0 0 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  background: transparent !important;
}

.text-green {
  color: #22DDB3;
}

.text-blue {
  color: #395996;
}

.btn {
  background: linear-gradient(261.33deg, #21E1B3 3.27%, #3F65AD 40.47%);
  border: none;
  border-radius: 10px;
  width: 160px;
  padding: 8px 15px;
  height: auto;
  outline: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.text-stroke {
  color: rgba(#fff, 0.4);
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  font-family: 'Klavika Bold', sans-serif;
  text-transform: uppercase;
  user-select: none;
}

@import "main";
